.footer {
    padding-top: 15px;
    text-align: center;
    background: darkblue;
    color: white;
    min-height: 100px;
    border-top: 1px solid gainsboro;
}

.footer p  {
    font-size: 20px;
}

.footer a{
    color: white;
    text-decoration: none;
}
.footer a:hover{
    color: #caf509;
    font-weight: 900;
    font-size: x-large;
    text-transform:uppercase;
}