* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.heading {
  width: 100%;
    height: 25vh;
    background:#c5b0b9;
    border-bottom: 1px solid gainsboro;
    display: flex;
    justify-content:start;
    align-items: flex-start;
    padding-top: 20px;
    
}
.heading img {
  border-radius: 50%;
}
.heading h1 {
  margin-left: 100px;
  size: 100px;
  color: red;
  font-weight: 800;

}