
.create_meal {
    width: 400px;
    margin: auto;
}

.field_set {
    margin: 1em 0;
    padding: 1em;
    border: 1px solid darkred;
    border-radius: 6px;
    max-width: 50%;
    background-color: rgb(243, 152, 16);
}

.field_set p {
    font-size: medium;
    font-weight: 800;
    font-style: italic;
}

.legend {
    font-size: 2em;
    padding: 0 .25em;
    color: rgb(27, 10, 19);
}

label {
    display: block;
    margin-top: 1em;
    font-weight: 600;
}

input {
    padding: .5em;
    border: 1px solid black;
    max-width: 30em;
    border-radius: 4px;
}



textarea{
    min-height: 6em;
    min-width: 30em;
    padding: .5em;
    border: 1px solid royalblue;
}

button{
    margin-top: 3em;
    width: 12em;
    height: 4em;
    background-color: sandybrown;
    cursor: pointer;
    font-size: 12px;
    font-weight: 800;
    border-radius: 6px;


}